@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pastel-blue: #89CFF0;
  --color-pastel-pink: #FFB6C1;
  --color-pastel-green: #77DD77;
  --color-pastel-yellow: #FFEF00;
  --color-pastel-purple: #B19CD9;
  --color-light: #F5F5F5;
  --color-dark: #2C2C2C;
  --color-gradient-start: #3a7bd5;
  --color-gradient-end: #3a6073;
  --color-button-dark: #4a6fa5;
  --color-button-light: #819ac3;
}

.weather-app-body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to top, var(--color-gradient-end), var(--color-gradient-start));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: var(--color-light);
}

.weather-app-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  width: 100%;
  max-width: 500px;
  animation: fadeIn 1.5s ease-in-out;
  color: var(--color-light);
  height: auto;
  /* Adjust height to auto */
}

.weather-app-header {
  text-align: center;
  margin-bottom: 20px;
}

.weather-app-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-light);
}

.weather-app-header p {
  font-size: 1.rem;
  color: var(--color-light);
}

.weather-app-content {
  padding: 20px;
  border-radius: 15px;
  margin-top: 0;
  /* Ensure no margin above content */
}

#city-suggestions {
    background: var(--color-light);
    border-top: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 130px;
    overflow-y: auto;
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 80px;
}


#city-suggestions .suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--color-dark);
}

#city-suggestions .suggestion:hover {
  background: var (--color-pastel-green);
}

.weather-app-input-container {
  display: flex;
  width: 100%;
}

.weather-app-input {
  border: none;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  width: calc(100% - 50px);
  /* Adjust width to fit next to the button */
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.3);
  color: var(--color-light);
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.weather-app-input::placeholder {
  color: var(--color-light);
  opacity: 0.7;
}

.weather-app-input:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.weather-app-button {
  padding: 0;
  border: none;
  border-radius: 0 10px 10px 0;
  width: 50px;
  /* Square button */
  height: 50px;
  /* Square button */
  margin-bottom: 15px;
  background-color: var(--color-button-dark);
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.weather-app-button:hover {
  background-color: var(--color-button-light);
}

.weather-app-button i {
  margin: 0;
  /* Remove margin for icon */
}

#current-location-button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 100%;
  background-color: var(--color-button-dark);
  color: var(--color-light);
  display: flex;
  justify-content: left;
  align-items: center;

}

#current-location-button:hover {
  background-color: var(--color-button-light);
}

#weather-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  animation: fadeIn 2s ease-in-out;
  background: rgba(255, 255, 255, 0.3);
  display: none;
  /* Hide by default */
  text-align: left;
  /* Align text to left */
}

#weather-container.visible {
  display: block;
  /* Show when data is loaded */
}

.weather-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.weather-item i {
  margin-right: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.weather-app-content,
#weather-container {
  animation: fadeIn 1s ease-in-out;
}

#current-location-button,
.weather-app-button {
  animation: slideIn 0.5s ease-in-out;
  height: 4rem;

}

i[data-feather] {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  stroke: currentColor;
  fill: none;
  color: var(--color-light);
  vertical-align: middle;
  /* Ensure icons are vertically aligned */
}