@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-pastel-blue: #AECBFA;
    --color-pastel-pink: #FFCCF9;
    --color-pastel-green: #C1F4C5;
    --color-pastel-yellow: #FFFFB5;
    --color-pastel-purple: #D4A5FF;
    --color-light: #F5F5F5;
    --color-dark: #111A2C;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-pastel-blue);
    color: var(--color-dark);
}

.bg-gradient-to-r {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

#weather .container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#city-suggestions {
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    position: absolute;
    width: 100%;
}

#city-suggestions .suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#city-suggestions .suggestion:hover {
    background: var(--color-pastel-green);
}

input {
    border: 2px solid var(--color-dark);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: var(--color-pastel-purple);
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button#search-button {
    background-color: var(--color-pastel-yellow);
    color: var(--color-dark);
}

button#search-button:hover {
    background-color: var(--color-pastel-pink);
}

button#current-location-button {
    background-color: var(--color-pastel-green);
    color: var(--color-dark);
    margin-top: 10px;
}

button#current-location-button:hover {
    background-color: var(--color-pastel-blue);
}

#weather-container {
    margin-top: 20px;
}
