@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pastel-blue: #AECBFA;
  --color-pastel-pink: #FFCCF9;
  --color-pastel-green: #C1F4C5;
  --color-pastel-yellow: #FFFFB5;
  --color-pastel-purple: #D4A5FF;
}

.bg-pastel-blue {
  background-color: var(--color-pastel-blue);
}

.bg-pastel-pink {
  background-color: var(--color-pastel-pink);
}

.bg-pastel-green {
  background-color: var(--color-pastel-green);
}

.bg-pastel-yellow {
  background-color: var(--color-pastel-yellow);
}

.bg-pastel-purple {
  background-color: var(--color-pastel-purple);
}
