@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pastel-blue: #89CFF0;
  --color-pastel-pink: #FFB6C1;
  --color-pastel-green: #77DD77;
  --color-pastel-yellow: #FFEF00;
  --color-pastel-purple: #B19CD9;
  --color-light: #e7e7e7;
  --color-dark: #2C2C2C;
  --color-gradient-start: #3a7bd5;
  --color-gradient-end: #3a6073;
  --color-button-dark: #4a6fa5;
  --color-button-light: #819ac3;
}

/* General styles */
body {
  @apply bg-gray-900 text-gray-200 font-sans leading-relaxed;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.App {
  @apply min-h-screen flex items-center justify-center;
}

.story-page {
  @apply bg-gray-800 bg-opacity-60 backdrop-filter backdrop-blur-lg p-4  shadow-2xl;
  max-width: 60%;
  margin: 1rem;
  text-align: left;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.8);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  border-radius: 20px;
}

.story-content {
  @apply text-center mb-4;
}

.story-image {
  @apply max-w-xs h-auto mx-auto mb-4 rounded-lg animate-fadeIn;
  border: 2px solid #f0e7db;
}

.story-body {
  @apply flex flex-row items-start;
}

.buttons {
  @apply flex flex-col space-y-2 ml-4 justify-center;
  height: auto;
}

h1 {
  @apply text-lg font-heading mb-10 text-gray-200 leading-tight;
  border-bottom: 1px solid rgba(201, 201, 201, 0.1);
  padding-bottom: 0.5rem;
  margin-left: 70px;
  margin-right: 70px;
}

.story-text {
  @apply mb-4 text-sm text-gray-300;
  line-height: 1.8;
  color: var(--color-light);
  font-size: 1.5rem;
  padding: 20px 50px;
}

/* Button styles */
.choice-button {
  @apply cursor-pointer rounded-lg transition duration-300 ease-in-out transform hover:bg-blue-500 hover:scale-105;
  border: 2px solid var(--color-dark);
  backdrop-filter: blur(10px);
  padding: 20px 20px;
  background-color: rgba(77, 61, 61, 0.062);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.restart-button {
  @apply cursor-pointer rounded-sm py-1 px-2 transition duration-300 ease-in-out transform hover:bg-blue-500 hover:scale-105;
  backdrop-filter: blur(10px);
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 1rem;
  margin-top: 1rem;
  align-self: flex-end;
}

/* Mobile and tablet responsiveness */
@media (max-width: 1024px) {
  .story-page {
    @apply p-3;
    max-width: 80%;
  }

  .story-text {
    font-size: 1.2rem;
    padding: 15px 30px;
  }

  .choice-button {
    font-size: 1rem;
    padding: 20px 15px;
  }
}

@media (max-width: 768px) {
  .story-page {
    @apply p-2;
    margin: 0.5rem;
    flex-direction: column;
    max-width: 90%;
  }

  .story-body {
    @apply flex-col items-center;
  }

  .buttons {
    @apply ml-0 mt-2;
  }

  h1 {
    @apply text-base;
    margin-left: 0;
    margin-right: 0;
  }

  .story-text {
    @apply text-base;
    padding: 15px 20px;
  }

  .story-image {
    @apply max-w-xs;
  }

  .choice-button {
    @apply px-4 py-2 text-sm;
    padding: 15px 10px;
  }

  .restart-button {
    @apply px-2 py-1 text-xs;
    align-self: center; /* Center align the button on small screens */
  }
}

@media (max-width: 480px) {
  .story-page {
    @apply p-2;
    margin: 0.5rem;
    flex-direction: column;
    max-width: 100%;
  }

  .story-body {
    @apply flex-col items-center;
  }

  .buttons {
    @apply ml-0 mt-2;
  }

  h1 {
    @apply text-sm;
    margin-left: 0;
    margin-right: 0;
  }

  .story-text {
    @apply text-sm;
    padding: 10px 15px;
  }

  .story-image {
    @apply max-w-xs;
  }

  .choice-button {
    @apply px-3 py-2 text-xs;
    padding: 10px 5px;
  }

  .restart-button {
    @apply px-2 py-1 text-xs;
    align-self: center; /* Center align the button on small screens */
  }
}
