<div id="flowchart-placeholder" class="flowchart-container">
    <div class="flowchart">
        <div class="box full-stack font-jetBrains">
            <span>Full-stack</span>
            <span>Developer</span>
        </div>
        <div class="line horizontal"></div>
        <div class="box coding font-jetBrains">
            <span>Coding</span>
        </div>
        <div class="line horizontal"></div>
        <div class="box web-design font-jetBrains">
            <span>Web Design</span>
        </div>
    </div>
    <div class="arrow"></div>
</div>
