<div class="navbar sticky top-0 z-50 pt-5 w-11/12 mx-auto" style="z-index: 102;">
    <div class="container mx-auto flex justify-between items-center p-4">
        <div class="logo text-2xl text-custom-light font-jetBrains responsive-logo">createdByRai</div>
        <div class="burger-menu md:hidden cursor-pointer" id="burger-menu">
            <i data-feather="menu" class="feather-icon-custom-light"></i>
        </div>
        <nav class="nav-links responsive-space-x hidden md:flex">
            <a href="#meetRai" class="text-lg font-poppins font-regular text-custom-light hover:text-black responsive-text">Meet Rai</a>
            <a href="#theJourney" class="text-lg font-poppins font-regular text-custom-light hover:text-black responsive-text">The Journey</a>
            <div class="relative group">
                <a href="#theMagic" class="text-lg font-poppins font-regular text-custom-light hover:text-black responsive-text">The Magic</a>
                <div class="absolute hidden group-hover:block bg-white shadow-lg rounded-lg mt-2 group-hover:visible">
                    <a href="/projects/weatherapp/index.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Weather App</a>
                    <a href="/projects/interactive-storytelling/index.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Interactive Storytelling</a>
                    <a href="/projects/password-strength-analyser/index.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Password Strength Analyzer</a>
                </div>
            </div>
            <a href="#letsTalk" class="btn-o-orange text-lg">Let's Talk</a>
        </nav>
    </div>
    <div class="container mx-auto">
        <hr class="border-t-1 mt-2 border-custom-light border-opacity-10 w-full mx-auto">
    </div>
    <div class="nav-links-mobile hidden flex-col space-y-4 border-custom-light p-4 md:hidden" id="nav-links-mobile">
        <div class="close-menu" id="close-menu">
            <i data-feather="x" class="feather-icon-custom-dark"></i>
        </div>
        <a href="#meetRai" class="text-lg font-poppins font-regular text-custom-dark hover:text-black">Meet Rai</a>
        <a href="#theJourney" class="text-lg font-poppins font-regular text-custom-dark hover:text-black">The Journey</a>
        <div class="relative group">
            <a href="#theMagic" class="text-lg font-poppins font-regular text-custom-dark hover:text-black">The Magic</a>
            <div class="hidden mt-2 pl-4 group-hover:block">
                <a href="/projects/weatherapp/index.html" class="block py-2 text-gray-800 hover:bg-gray-100">Weather App</a>
                <a href="/projects/interactive-storytelling/index.html" class="block py-2 text-gray-800 hover:bg-gray-100">Interactive Storytelling</a>
                <a href="/projects/password-strength-analyser/index.html" class="block py-2 text-gray-800 hover:bg-gray-100">Password Strength Analyzer</a>
            </div>
        </div>
        <a href="#letsTalk" class="btn-o-lightgreen text-lg">Let's Talk</a>
    </div>
</div>
