
#background-container {
    background-image: image-set(url(../media/images/bg_1.webp) type("image/webp"), url(../media/images/bg_1.jpg) type("image/jpeg"));
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#home {
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#home .container {
    text-align: left;
    width: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    padding: 0px;
}

.sub-opacity {
    opacity: 0.12;
}

.title {
    font-weight: 800;
    font-size: 9rem;
    font-family: 'Poppins', sans-serif;

}

.heading-container {
    position: relative;
    top: 50%;
    left: -10%;
}

.home-subtitle {
    font-family: 'JetBrains Mono', monospace;
    display: block;
    white-space: pre-wrap;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-left: 28%;
    width: 100%;
 
    margin-top: -10%;
}

.home-subtitle span {
    display: inline;
}

.home-subtitle .indented {
    padding-left: 2em;
}

.sub-opacity {
    opacity: 0.03;
}



/* Social Icons */
.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 0.5s ease;

}

.social-icons.hidden {
    opacity: 0;
    pointer-events: none; 
}

/* Down-arrow */

.scroll-down-arrow {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-light);
    font-size: 2rem;
    cursor: pointer;
    animation: bounce 2s infinite;
}

.scroll-down-arrow svg { 
    display: block;
    vertical-align: middle;
    height: 48px;
    width: 48px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

/* For phones */
@media (max-width: 319px) {

    #background-container {
        background-size: auto 100%;
        background-position: 80% 0%;
        }

    .title {
        font-size: 2rem;
    }

    .heading-container {
        top: 150%;
        left: 10%;
    }
    
    .home-subtitle {
        margin-left: -28%;
        font-size: 0.7rem;
        padding-top: 15px;
    }
}

/* For large phones (320px - 479px) */
@media (min-width: 320px) and (max-width: 479px) {

    
    #background-container {
        background-size: auto 120%;
        background-position: 80% 0%;
        }

    .title {
        font-size: 2.5rem;
    }

    .heading-container {
        top: 150%;
        left: 15%;
    }

    
    .home-subtitle {
        margin-left: -26%;
        font-size: 0.8rem;
        padding-top: 20px;  }
}

/* For medium phones (480px - 599px) */
@media (min-width: 480px) and (max-width: 599px) {

    
    #background-container {
        background-size: auto 120%;
        background-position: 80% 0%;
        }

    .title {
        font-size: 3.5rem;
    }

    .heading-container {
        top: 150%;
        left: 15%;
    }

    
    .home-subtitle {
        margin-left: -25%;
        font-size: 1.1rem;    }
}

/* For small tablets and large phones (600px - 767px) */
@media (min-width: 600px) and (max-width: 767px) {

    
    #background-container {
        background-size: auto 120%;
        background-position: 70% 0%;
        }

    .title {
        font-size: 4.5rem;
    }

    .heading-container {
        top: 120%;
        left: 10%;
    }
    
    .home-subtitle {
        margin-left: -19%;
        font-size: 1.3rem;
    }
}

/* For screens between phone and tablet size (768px - 900px) */
@media (min-width: 768px) and (max-width: 900px) {

    #background-container {
        background-size: auto 120%;
        background-position: 70% 0%;
        }


    .title {
        font-size: 5.5rem;
    }

    .heading-container {
        top: 100%;
        left: 0%;
    }

    .home-subtitle {
        margin-left: -8%;
        font-size: 1.4rem;
    }
}

/* For iPads/Tablets in Portrait (901px - 1023px) */
@media (min-width: 901px) and (max-width: 1023px) {

    #background-container {
        background-size: auto 120%;
        background-position: 60% 0%;   
     }

    .title {
        font-size: 7rem;
    }

    .heading-container {
        top: 70%;
        left: -10%;
    }

    .home-subtitle {
        margin-left: 7.5%;
    }
}

/* For iPads/Tablets in Landscape (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {

    #background-container {
        background-size: auto 120%;
        background-position: 60% 0%;
    }

    .title {
        font-size: 7rem;
    }

    .heading-container {
        top: 70%;
        left: -10%;
    }
    
    .home-subtitle {
        margin-left: 8%;    }
}

For desktops (1367px and above) / @media (min-width: 1367px) {

    #background-container {
        background-position: center 50%;
    }

    .title {
        font-size: 9rem;
    }

    .heading-container {
        top: 30%;
        left: -10%;
    }
    
    .home-subtitle {
        margin-left: 28%;
    }
}