
/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--color-dark: #111A2C;
}

#theJourney {
    min-height: 100vh;
    height: auto;
    position: relative;
}

#theJourney .container {
    min-width: 85%;
  }

.writing-container {
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .dark {
    color: var(--color-dark);
  }