/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

--color-light: #EEEEEE;
--color-yellow: #DBDBA9;
--color-pink: #A271A1;
--color-darkblue: #59A8D9;


#skills {
  min-height: 100vh;
  height: auto;
  position: relative;
  height: 130vh;
  
}

.skill-item,
.skills-detail {
    transition: opacity 0.3s ease;
}

.skills-detail {
    opacity: 0;
}

.skills-detail:hover {
    opacity: 1;
}


#skills .container {
  min-width: 85%;
  padding-bottom: 0%;
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
}

.writing-container {
  text-align: left;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
}

.skills-title {
  font-family: Poppins, sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  padding-left: 2rem;
  display: inline-block;
  color: var(--color-light);
  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.skills-content {
  font-size: 1.5rem;
  font-family: 'JetBrains Mono', monospace;
  color: var(--color-light);
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;

}

.skill-item {
  background-color: var(--primary);
  color: var(--color-light);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid var(--color-light);
  position: relative;
  font-size: 1.5rem;
}

.skill-details {
  display: none;
  color: var(--color-light);
  padding-left: 1rem;
  font-family: 'JetBrains Mono', monospace;
  position: relative;
  padding: 0.5rem;
  border-radius: 5px;
}


.skill-details,
.skill-details.static {
  display: none;
  /* Hide by default */
}

.skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  display: block;
  font-size: 1.5rem;
  /* Show when item is active */
}

.skill-details span {
  display: inline;
}

.skill-details.visible {
  display: block;
}

.skill-item:hover {
  transform: translateY(-2px);
  background-color: #ffffff12;
}

.skill-details .js-tech {
  color: var(--color-yellow);
}

.skill-details .js-brace {
  color: var(--color-pink);
}

.skill-details,
.skill-details .js-list,
.skill-details .js-text {
  color: var(--color-darkblue);
}











/* For phones */
@media (max-width: 319px) {
  .skills-content {
    font-size: 1rem;

  } 
  .skill-item  {
    font-size: 1rem;
  }
  .skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  font-size: 1rem;
}
  .skill-item-active  {
    font-size: 1rem;
  }


  .skills-title {
    font-size: 2rem;
  }

  
#skills {
  min-height: 100vh;
  height: auto;
  position: relative;
  height: 300vh;
  
}
}

/* For large phones (320px - 479px) */
@media (min-width: 320px) and (max-width: 479px) {
  .skills-content {
    font-size: 1rem;

  } 
  .skill-item  {
    font-size: 1rem;
  }
  .skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  font-size: 1rem;
}
  .skill-item-active  {
    font-size: 1rem;
  }

  .skills-title {
    font-size: 2.5rem;
  }

}

/* For medium phones (480px - 599px) */
@media (min-width: 480px) and (max-width: 599px) {
  .skills-content {
    font-size: 1.2rem;

  } 
  .skill-item  {
    font-size: 1.2rem;
  }
  .skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  font-size: 1.2rem;
}
  .skill-item-active  {
    font-size: 1.2rem;
  }

  .skills-title {
    font-size: 3rem;
  }
}

/* For small tablets and large phones (600px - 767px) */
@media (min-width: 600px) and (max-width: 767px) {
  .skills-content {
    font-size: 1.3rem;

  } 
  .skill-item  {
    font-size: 1.3rem;
  }
  .skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  font-size: 1.3rem;
}
  .skill-item-active  {
    font-size: 1.3rem;
  }

  .skills-title {
    font-size: 4rem;
  }
}

/* For screens between phone and tablet size (768px - 900px) */
@media (min-width: 768px) and (max-width: 900px) {
  .skills-content {
    font-size: 1rem;

  } 
  .skill-item  {
    font-size: 1rem;
  }
  .skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  font-size: 1rem;
}
  .skill-item-active  {
    font-size: 1rem;
  }
  .skills-title {
    font-size: 2.5rem;
  }

}

/* For iPads/Tablets in Portrait (901px - 1023px) */
@media (min-width: 901px) and (max-width: 1023px) {
  .skills-content {
    font-size: 1.2rem;

  } 
  .skill-item  {
    font-size: 1.2rem;
  }
  .skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  font-size: 1.2rem;
}
  .skill-item-active  {
    font-size: 1.2rem;
  }
  .skills-title {
    font-size: 2.5rem;
  }

}

/* For iPads/Tablets in Landscape (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .skills-content {
    font-size: 1.4rem;

  } 
  .skill-item  {
    font-size: 1.4rem;
  }
  .skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  font-size: 1.4rem;
}
  .skill-item-active  {
    font-size: 1.4rem;
  }
  .skills-title {
    font-size: 3.5rem;
  }

}

For desktops (1367px and above) / @media (min-width: 1367px) {
  .skills-content {
    font-size: 1.5rem;

  } 
  .skill-item  {
    font-size: 1.5rem;
  }

.skill-item:hover+.skill-details,
.skill-item.active+.skill-details {
  font-size: 1.5rem;
}

  .skill-item-active  {
    font-size: 1.5rem;
  }
  .skills-title {
    font-size: 5rem;
  }

}