@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-size-lg: 2rem;  
    --font-size-md: 1.75rem; 
    --font-size-sm: 1.5rem; 

    --font-size-body-lg: 1rem;
    --font-size-body-md: 0.875rem;
    --font-size-body-sm: 0.75rem;

    --color-light: #F5F5F5;
    --color-dark: #111A2C;
    --color-green: #84DD63;
    --custom-yellow: #F6AE2D;
    --color-pink: #E91E63;
    --color-purple: #9F6AFF;
    --custom-gray: #D9D9D9;
    --color-opacity-15: rgba(0, 0, 0, 0.15);
    --color-opacity-10: rgba(0, 0, 0, 0.10);
    --color-opacity-5: rgba(0, 0, 0, 0.05);
}

/* Default font sizes */
h1 {
    font-size: var(--font-size-lg);
}

h2 {
    font-size: var(--font-size-md);
}

h3 {
    font-size: var(--font-size-md);
}

p, code {
    font-size: var(--font-size-body-lg);
}

/* Adjust font sizes for medium screens */
@media (max-width: 768px) {
    :root {
        --font-size-lg: 1.75rem;
        --font-size-md: 1.5rem;
        --font-size-sm: 1.25rem;

        --font-size-body-lg: 0.875rem;
        --font-size-body-md: 0.75rem;
        --font-size-body-sm: 0.625rem;
    }
}

/* Adjust font sizes for small screens */
@media (max-width: 480px) {
    :root {
        --font-size-lg: 1.5rem;
        --font-size-md: 1.25rem;
        --font-size-sm: 1rem;

        --font-size-body-lg: 0.75rem;
        --font-size-body-md: 0.625rem;
        --font-size-body-sm: 0.5rem;
    }
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    @apply font-sans font-regular;
}

h1 {
    @apply font-sans font-bold;
}

h2 {
    @apply font-sans font-semibold;
}

h3 {
    @apply font-sans font-semibold;
}

p {
    @apply font-mono font-regular;
}

code {
    @apply font-mono font-regular;
}

/* Custom opacity utility classes */
.opacity-15 {
    opacity: 0.15;
}

.opacity-10 {
    opacity: 0.10;
}

.opacity-5 {
    opacity: 0.05;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-100 {
    opacity: 1;
}

code span.block {
    display: block;
    margin: 0;
    /* Remove margin to prevent extra space */
}

/* Custom Feather Icon colors */
.feather-icon-custom-light {
    color: var(--color-light);
}

.feather-icon-custom-dark {
    color: var(--color-dark);
}

/* Navbar responsive menu */
.responsive-text {
    font-size: calc(1vw + 0.3rem);
    line-height: calc(1vw + 0.5rem);
}

.responsive-logo {
    font-size: calc(1vw + 0.8rem);
}

.responsive-space-x {
    display: flex;
    align-items: center;
    gap: calc(3vw + 0.1rem);
}

/* Custom styles for the home section */
#home {
    height: 100vh;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative;  */
}

#home .container {
    text-align: left;
    width: auto;
    max-width: 70%;
    top: 10%;
    left: -10%;
}

.resize-text {
    margin-top: -10px;
    margin-right: -25px;
}

/* Adjust font size for extra small devices (phones) */
@media (max-width: 480px) {
    #home .container {
        top: 80%;
        left: -75%;
    }

    .resize-text {
        font-size: 0.8rem;
        margin-top: -3%;
    }
}

/* Adjust font size for small devices (tablets, landscape phones) */
@media (max-width: 768px) {
    #home .container {
        top: 40%;
        left: 35%;
    }

    .resize-text {
        font-size: 0.7rem;
        margin-top: -3%;
    }
}

/* Adjust font size for medium devices (tablets, small desktops) */
@media (max-width: 992px) {
    #home .container {
        left: -10%;
        top: 15%;
    }

    .resize-text {
        font-size: 0.8rem;
        margin-top: -3%;
    }
}

.bg-home {
    background-image: image-set(url('../media/images/bg_1.webp') type("image/webp"),
            url('../media/images/bg_1.jpg') type("image/jpeg"));
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 0;
}

/* Responsive Background Position */
@media (max-width: 1200px) {
    .bg-home {
        background-position: 80% left;
    }
}

@media (max-width: 768px) {
    .bg-home {
        background-position: 65% center;
    }
}

@media (max-width: 480px) {
    .bg-home {
        background-position: 80% center;
    }
}

/* Burger Menu */
.burger-menu {
    display: none;
    cursor: pointer;
    z-index: 101;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        display: none;
        flex-direction: column;
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--color-light);
        z-index: 100;
        padding: 1rem;
        transform: translateX(100%);
        transition: transform 0.5s cubic-bezier(.68, -0.55, .27, 1.55);
    }

    .nav-links-mobile.active {
        display: flex;
        transform: translateX(0);
    }
}

/* Close Button */
.close-menu {
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1rem;
}

/* Flowchart section */
.flowchart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0; /* Align with the bottom */
}

.flowchart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 80%;
}

.line {
    background-color: var(--color-dark);
    z-index: 1;
}

.line.horizontal {
    flex-grow: 1;
    height: 2px;
}

.line.vertical {
    width: 2px;
    height: 50px; 
    margin: 0 auto;
    position: absolute; 
    top: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 0; 
}

/* Box styles */
.box {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 1rem;
    text-align: center;
    min-width: 60px; 
    z-index: 2; 
    font-family: 'JetBrains Mono', monospace;
}

/* Full-stack box */
.full-stack {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2; 
}

/* Coding and Web Design boxes */
.coding, .web-design {
    width: 130px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Arrow animation */
@keyframes move-arrow {
    0% {
        left: 10%;
        top: 41%;
        transform: rotate(0deg);
    }
    25% {
        left: 85%;
        top: 41%;
        transform: rotate(0deg);
    }
    30% {
        left: 85%;
        top: 41%;
        transform: rotate(180deg);
    }
     55% {
        left: 10%;
        top: 41%;
        transform: rotate(180deg);
    }
    60% {
        left: 13.5%;
        top: 41%;
        transform: rotate(90deg);
    }
    100% {
        left: 13.5%;
        top: 140%;
        transform: rotate(90deg);
    }
}

.arrow {
    position: absolute;
    top: 41%;
    left: 10%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--color-dark);
    animation: move-arrow 50s linear infinite;
    z-index: 1;
}

/* Adjust sizes for smaller screens */
@media (max-width: 768px) {
    .full-stack {
        width: 90px;
        height: 90px;
        font-size: 0.7rem;
    }

    .coding, .web-design {
        width: 90px;
        height: 50px;
        font-size: 0.7rem;
    }

    @keyframes move-arrow {
        0% { left: 10%; }
        90% { left: 85%; }
        100% { left: 85%; } 
    }
}

/* Star styles and animation */
.star {
    position: absolute;
    background-color: var(--color-light);
    border-radius: 90%;
}

@keyframes glow {
    0%, 100% {
        opacity: 0.2;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}
