/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-size-lg: 2rem;
    --font-size-md: 1.75rem;
    --font-size-sm: 1.5rem;

    --font-size-body-lg: 1rem;
    --font-size-body-md: 0.875rem;
    --font-size-body-sm: 0.75rem;

    --color-pastel-blue: #AECBFA;
    --color-pastel-pink: #FFCCF9;
    --color-pastel-green: #C1F4C5;
    --color-pastel-yellow: #FFFFB5;
    --color-pastel-purple: #D4A5FF;
    --color-light: #F5F5F5;
    --color-dark: #111A2C;
    --color-yellow: #DBDBA9;
    --color-darkgreen: #4EBF9F;
    --color-lightgreen: #5BD963;
    --color-pink: #A271A1;
    --color-purple: #9F6AFF;
    --color-gray: #878787;
    --color-darkblue: #59A8D9;
    --color-lightblue: #99D9F2;
    --color-orange: #D6A940;
    --color-greyed: rgba(245, 245, 245, 0.5);
    --color-opacity-15: rgba(0, 0, 0, 0.15);
    --color-opacity-10: rgba(0, 0, 0, 0.10);
    --color-opacity-5: rgba(0, 0, 0, 0.05);
    --color-opacity-1: rgba(0, 0, 0, 0.01);
}

/* Default font sizes */
h1 {
    font-size: var(--font-size-lg);
}

h2 {
    font-size: var(--font-size-md);
}

h3 {
    font-size: var(--font-size-md);
}

p,
code {
    font-size: var(--font-size-body-lg);
}

/* Adjust font sizes for medium screens */
@media (max-width: 768px) {
    :root {
        --font-size-lg: 1.75rem;
        --font-size-md: 1.5rem;
        --font-size-sm: 1.15rem;

        --font-size-body-lg: 0.875rem;
        --font-size-body-md: 0.75rem;
        --font-size-body-sm: 0.55rem;
    }
}

/* Adjust font sizes for small screens */
@media (max-width: 480px) {
    :root {
        --font-size-lg: 1.5rem;
        --font-size-md: 1.25rem;
        --font-size-sm: 0.8rem;

        --font-size-body-lg: 0.75rem;
        --font-size-body-md: 0.625rem;
        --font-size-body-sm: 0.5rem;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    @apply font-sans font-regular;
}

h1 {
    @apply font-sans font-bold;
}

h2 {
    @apply font-sans font-semibold;
}

h3 {
    @apply font-sans font-semibold;
}

p {
    @apply font-mono font-regular;
}

code {
    @apply font-mono font-regular;
}

/* Custom opacity utility classes */
.opacity-15 {
    opacity: 0.15;
}

.opacity-10 {
    opacity: 0.10;
}

.opacity-5 {
    opacity: 0.05;
}

.opacity-1 {
    opacity: 0.01;
}

.opacity-2 {
    opacity: 0.02;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-100 {
    opacity: 1;
}

code span.block {
    display: block;
    margin: 0;
}

/* Button Styling */

/* Green btn */
.btn-o-lightgreen {
    font-family: 'Poppins', sans-serif;
    color: var(--color-lightgreen);
    font-weight: 400;
    border: 2px solid var(--color-lightgreen);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.btn-s-lightgreen {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    font-weight: 400;
    border: 2px solid var(--color-lightgreen);
    background-color: var(--color-lightgreen);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* Orange btn */
.btn-o-orange {
    font-family: 'Poppins', sans-serif;
    color: var(--color-orange);
    font-weight: 400;
    border: 2px solid var(--color-orange);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.btn-s-orange {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border-radius: 8px;
    height: 7%;
}

/* Light btn */
.btn-o-light {
    font-family: 'Poppins', sans-serif;
    color: var(--color-light);
    font-weight: 400;
    border: 2px solid var(--color-light);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.btn-s-light {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    font-weight: 400;
    border: 2px solid var(--color-light);
    background-color: var(--color-light);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* Custom Feather Icon colors */
.feather-icon-custom-light {
    color: var(--color-light);
}

.feather-icon-custom-dark {
    color: var(--color-dark);
}

/* Navbar responsive menu */
.responsive-text {
    font-size: calc(1vw + 0.3rem);
    line-height: calc(1vw + 0.5rem);
}

.responsive-logo {
    font-size: calc(1vw + 0.8rem);
}

.responsive-space-x {
    display: flex;
    align-items: center;
    gap: calc(3vw + 0.1rem);
}

/* Custom styles for the home section */

#background-container {
    background-image: image-set(url('../media/images/bg_1.webp') type("image/webp"),
            url('../media/images/bg_1.jpg') type("image/jpeg"));
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    height: 100vh;
}

#content-container {
    min-height: 100vh;
}

#home {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home .container {
    text-align: left;
    width: auto;
    max-width: 70%;
    position: relative;
    z-index: 1;
    top: 10vw;
    left: -10vw;
}

.resize-text {
    margin-right: -25px;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    #home .container {
        top: 15%;
        left: -5%;
    }

    .resize-text {
        font-size: 0.8rem;
        margin-top: -3%;
    }
}

@media (max-width: 768px) {
    #background-container {
        background-position: 65% center;
    }

    #home .container {
        top: 15%;
        left: -15%;
    }

    .resize-text {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    #background-container {
        background-position: 80% center;
    }

    #home .container {
        top: 15%;
        left: -15%;
    }

    .resize-text {
        font-size: 0.8rem;
    }
}

/* Custom styles for the skills section */

#skills {
    min-height: 100vh;
    height: auto;
    position: relative;
}

.skills-code-container {
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'JetBrains Mono', monospace;
}

.skills-title {
    padding-left: 2rem;
    display: inline-block;
    color: var(--color-light);
    position: relative;
    z-index: 5;
    font-size: var(--font-size-lg);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.skills-content span {
    display: block;
    width: 100%;
}

.js-brace {
    color: var(--color-pink);
}

.js-tech {
    color: var(--color-orange); /* Customize the color as needed */
}

.js-bracket {
    color: var(--color-lightgreen);
}

.js-punctuation {
    color: var(--color-gray); /* Customize the color as needed */
}

.skill-details,
.skill-details .js-list,
.skill-details .js-text {
    color: var(--color-darkblue);
}

.skill-details .js-brace {
    color: var(--color-pink);
}
/* Skill items and dropdown */
/* Skill items and dropdown */
.skills-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.skill-item {
    background-color: var(--primary);
    color: var(--color-light);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid var(--color-light);
    position: relative;
}

.skill-details {
    display: none; 
    color: var(--color-light);
    padding-left: 1rem;
    font-family: 'JetBrains Mono', monospace;
    position: relative;
    background-color: var(--color-dark);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-details span {
    display: inline;
}

.skill-details.visible {
    display: block;
    /* styles for visible state */
}

.skill-item:hover .skill-details {
    display: block; /* Show on hover */
}

.skill-item:hover {
    transform: translateY(-2px);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skill-details .js-tech {
    color: var(--color-yellow);
}

.skill-details .js-brace {
    color: var(--color-pink);
}



/* Responsive adjustments */
@media (max-width: 992px) {
    #skills .resize-text {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
    #skills .resize-text {
        font-size: 0.8rem;
        line-height: 1.5rem;
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    #skills .resize-text {
        font-size: 0.8rem;
        line-height: 1.5rem;
        margin-top: 0px;
    }
}

/* Burger Menu */
.burger-menu {
    display: none;
    cursor: pointer;
    z-index: 101;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .nav-links {
        display: flex;
        padding-bottom: 20px !important;
    }

    .nav-links-mobile {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--color-light);
        z-index: 100;
        padding: 1rem;
        transform: translateX(100%);
        transition: transform 0.5s cubic-bezier(.68, -0.55, .27, 1.55);
    }

    .nav-links-mobile.active {
        display: flex;
        transform: translateX(0);
    }
}

.dropdownlink {
    padding-bottom: 20px;
}

/* Close Button */
.close-menu {
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1rem;
}

/* Section styles */
section {
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
}

#skills,
#timeline,
#work {
    padding-top: 20px;
}

/* Footer styles */
footer {
    padding: 20px 0;
}

/* Flowchart section */
.flowchart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.flowchart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.line {
    background-color: var(--color-pink);
    z-index: 1;
    opacity: 0.1;
}

.line.horizontal {
    flex-grow: 1;
    height: 2px;
}

/* Box styles */
.box {
    background-color: var(--color-dark);
    padding: 0.1rem;
    text-align: center;
    min-width: 60px;
    z-index: 2;
    font-family: 'JetBrains Mono', monospace;
}

/* Full-stack box */
.full-stack {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: var(--color-darkgreen);
}

/* Coding and Web Design boxes */
.coding,
.web-design {
    width: 130px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-pink);
}

/* Adjust sizes for smaller screens */
@media (max-width: 768px) {
    .full-stack {
        width: 90px;
        height: 90px;
        font-size: 0.7rem;
    }

    .coding,
    .web-design {
        width: 90px;
        height: 50px;
        font-size: 0.7rem;
    }

    @keyframes move-arrow {
        0% {
            left: 0%;
        }

        25% {
            left: 80%;
        }

        100% {
            left: 80%;
        }
    }
}

/* Star styles and animation */
.star {
    position: fixed;
    background-color: var(--color-light);
    border-radius: 50%;
}

@keyframes glow {
    0%,
    100% {
        opacity: 0.2;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }

    50% {
        opacity: 1;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

/* Social Icons */
.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon {
    color: var(--color-dark);
    text-decoration: none;
}

.icon i {
    width: 24px;
    height: 24px;
}

/* Optional: Add hover effects */
.icon:hover i {
    color: var(--color-dark);
    transition: color 0.1s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .social-icons {
        bottom: 15px;
        right: 15px;
    }

    .icon i {
        width: 20px;
        height: 20px;
    }
}

/* Container and line styles */
#timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#timeline-container {
    position: relative;
    width: 90%;
    height: 100%;  /* Ensuring it takes full height */
}

.line {
    position: absolute;
    background-color: #ddd;
}

.line.horizontal {
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
}

.line.vertical {
    display: none;
    width: 4px;
    height: 100%;
    left: 50%;
    top: 0;
}

.timeline-item {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    border: 1px solid red; /* Debugging: Add border to check visibility */
}

.timeline-item.active {
    transform: scale(1.5);
    opacity: 1;
}

.timeline-info {
    position: absolute;
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.timeline-info.left {
    transform: translateX(-100%);
}

.timeline-info.right {
    transform: translateX(100%);
}

.timeline-info.top {
    transform: translateY(-100%);
}

.timeline-info.bottom {
    transform: translateY(100%);
}

@media (max-width: 768px) {
    .line.horizontal {
        display: none;
    }

    .line.vertical {
        display: block;
    }
}

/* Dropdown menu styles */
.group:hover .group-hover\:block {
    display: block;
}

.nav-links .group:hover .group-hover\:block {
    display: block;
   
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10px;
}

.nav-links .group .group-hover\:block {
    display: none;
    position: absolute;
    background-color: var(--color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 0.5rem;
    width: auto;
    min-width: 200px; 
    font-family: 'Poppins', sans-serif;
    z-index: 10;
}

.nav-links .group:hover .group-hover\:block:hover {
    display: block;
}

.nav-links .group:hover .group-hover\:block:hover {
    display: block;
}

.nav-links .group .group-hover\:block:hover {
    display: block;
}

.nav-links .group .group-hover\:visible:hover {
    visibility: visible;
    display: block;
}

/* Ensure the dropdown does not disappear when hovered */
.nav-links .group:hover .group-hover\:block:hover {
    display: block;
}

.nav-links .group:hover .group-hover\:visible:hover {
    display: block;
    visibility: visible;
}

@media (max-width: 768px) {
    #nav-links-mobile {
        display: none;
        flex-direction: column;
        align-items: start;
    }

    #nav-links-mobile.active {
        display: flex;
    }

    .nav-links-mobile .group .group-hover\:block {
        display: none;
    }

    .nav-links-mobile .group:hover .group-hover\:block {
        display: block;
    }
}

/* Add CSS for keeping dropdown open */
#theMagicGroup:hover #theMagicDropdown,
#theMagicDropdown:hover {
    display: block !important;

}

#theMagicGroupMobile:hover #theMagicDropdownMobile,
#theMagicDropdownMobile:hover {
    display: block !important;
}

.projects_navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.projects_back-button{
    background: none;
    border: none;
    cursor: pointer;
}

.projects_back-button i {
    background: none;
    border: none;
    cursor: pointer;
}


.image-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.blended-image {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    opacity: 0.8;
    border-radius: 15px;
    transform: scaleX(-1);
}
